Client/obj/*.o
Client/.ninja_deps
Client/.ninja_log
Client/.qmake.stash
Client/CMakeCache.txt
Client/CMakeFiles/
Client/Makefile
Client/Stoneball
Client/Stoneball_autogen/
Client/build.ninja
Client/cmake_install.cmake
Client/compile_commands.json
Client/moc_AboutWindow.cpp
Client/moc_ClientCanvas.cpp
Client/moc_MainWindow.cpp
Client/moc_ProfileWindow.cpp
Client/moc_predefs.h
Client/qrc_Stoneball.cpp
Client/rules.ninja
Server/.ninja_deps
Server/.ninja_log
Server/CMakeCache.txt
Server/CMakeFiles/
Server/build.ninja
Server/cmake_install.cmake
Server/compile_commands.json
Server/rules.ninja
Server/runServer
cpp/Util/.qmake.stash
cpp/Util/Makefile
cpp/Util/libUtil.so
cpp/Util/libUtil.so.1
cpp/Util/libUtil.so.1.0
cpp/Util/libUtil.so.1.0.0
cpp/Util/obj/*
